.numbers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.numbers span {
    padding: 10px;
    color: #fff;
    border-radius: 50px;
    width: 30px;
    height: auto;
    border: 1px solid #fff;
}

@media screen and (max-width: 2560px) {
    .numbers span {
        width: 80px;
    }
}